*{margin: 0; padding: 0;}
ul, ol {list-style: none;}
a { text-decoration: none;}

.wrap {
    content: "";
    display: block;
    clear: both;
}
.wrap>article:last-child {
    margin-right: 0px!important;
}